[package]
name = "image-trainer"
version = "0.0.0"
description = "Image Trainer App"
authors = ["you"]
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
tauri-plugin-shell = "2"
tauri-plugin-dialog = "2"
tauri-plugin-fs = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
dirs = "5"

[features]
# default to custom-protocol
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]
